{% load mptt_tags %}
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="section-spacer"><span>Articles</span></h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a href="#" class="article-wrapper">
                    <div class="article-image backstretch" data-bgimg="/static/resources/header/laguna-niguel-beach.jpg">
                    </div>
                    <div class="article-headline-wrapper">
                        <h3>Why To Avoid Real Estate Agents</h3>
                        <p class="preview-text">
                            If you are someone who has no idea where you want to live, no access to the internet, no ability to determine your own price range...
                        </p>
        
                    </div>
                </a>
            </div>
            <!-- Article Wrapper -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a href="#" class="article-wrapper">
                    <div class="article-image backstretch" data-bgimg="/static/resources/header/laguna-niguel-beach.jpg">
                    </div>
                    <div class="article-headline-wrapper">
                        <h3>Why To Avoid Real Estate Agents</h3>
                        <p class="preview-text">
                            If you are someone who has no idea where you want to live, no access to the internet, no ability to determine your own price range...
                        </p>
        
                    </div>
                </a>
            </div>
            <!-- Article Wrapper -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a href="#" class="article-wrapper">
                    <div class="article-image backstretch" data-bgimg="/static/resources/header/laguna-niguel-beach.jpg">
                    </div>
                    <div class="article-headline-wrapper">
                        <h3>Why To Avoid Real Estate Agents</h3>
                        <p class="preview-text">
                            If you are someone who has no idea where you want to live, no access to the internet, no ability to determine your own price range...
                        </p>
        
                    </div>
                </a>
            </div>
            <!-- Article Wrapper -->
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a href="#" class="article-wrapper">
                    <div class="article-image backstretch" data-bgimg="/static/resources/header/laguna-niguel-beach.jpg">
                    </div>
                    <div class="article-headline-wrapper">
                        <h3>Why To Avoid Real Estate Agents</h3>
                        <p class="preview-text">
                            If you are someone who has no idea where you want to live, no access to the internet, no ability to determine your own price range...
                        </p>
        
                    </div>
                </a>
            </div>
            <!-- Article Wrapper -->
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a href="#" class="article-wrapper">
                    <div class="article-image backstretch" data-bgimg="/static/resources/header/laguna-niguel-beach.jpg">
                    </div>
                    <div class="article-headline-wrapper">
                        <h3>Why To Avoid Real Estate Agents</h3>
                        <p class="preview-text">
                            If you are someone who has no idea where you want to live, no access to the internet, no ability to determine your own price range...
                        </p>
        
                    </div>
                </a>
            </div>
            <!-- Article Wrapper -->
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a href="#" class="article-wrapper">
                    <div class="article-image backstretch" data-bgimg="/static/resources/header/laguna-niguel-beach.jpg">
                    </div>
                    <div class="article-headline-wrapper">
                        <h3>Why To Avoid Real Estate Agents</h3>
                        <p class="preview-text">
                            If you are someone who has no idea where you want to live, no access to the internet, no ability to determine your own price range...
                        </p>
        
                    </div>
                </a>
            </div>
            <!-- Article Wrapper -->

        </div>
        <!-- /Row -->
    </div>
    <!-- Container -->