<section class="social-share">
    <div class="row">
        <a class="btn btn-facebook full-width-button col-lg-6 col-md-6 col-sm-6 col-xs-6" data-network="FB" href="https://www.facebook.com/sharer/sharer.php?app_id=696948120340640&u=http%3A%2F%2Fwww.nofeeoc.com{{request.path|urlencode}}&t={{page.Title|urlencode}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
            <i class="fa fa-facebook"></i> Share on Facebook
        </a>
        <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.nofeeoc.com{{request.path|urlencode}}&text={{page.Title|urlencode}}&via=nofeeoc" class="btn btn-twitter full-width-button col-lg-6 col-md-6 col-sm-6 col-xs-6" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"><i class="fa fa-twitter"></i> Share on Twitter</a>
    </div>
</section>