{% load mptt_tags %}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 widget">
                <h3 class="widget-title">Contact</h3>
                <div class="widget-body">
                    <p>888-877-0808<br>
                        <a href="mailto:#">broker@nofeecalifornia.com</a><br>
                        <br>
                    </p>    
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 widget">
                <h3 class="widget-title">Social Media</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        <a href=""><i class="fa fa-twitter fa-2"></i></a>
                        <a href=""><i class="fa fa-facebook fa-2"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 widget">
                <h3 class="widget-title">Smart Buyer Resources</h3>
                <div class="widget-body">
                    <ul>
                        <li>
                            <a href="http://www.redfin.com" target="_BLANK">Redfin</a>
                        </li>
                        <li>
                            <a href="http://www.ziprealty.com" target="_BLANK">Zip Realty</a>
                        </li>                        
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 widget">
                <h3 class="widget-title"></h3>
                <div class="widget-body">
                    <ul>
                        <li><a href="{% url 'landing_page.views.landing' %}">Home</a></li>
                        <li><a href="{% url 'contact.views.contact' %}">Contact</a></li>
                    {% for c in corp %}
                        <li><a href="/company/{{c.PageSlug}}">{{c.PageName}}</a></li>
                    {% endfor %}    
                    </ul>    
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>

<footer id="underfooter">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p><a href="/sitemap.xml">Sitemap</a></p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                        Copyright © 2014, Empower Realty Group<br> 
                        Site Built By: <a href="http://untamedenterprises.com/#COMING-SOON" rel="designer">Untamed Enterprises</a> </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>