{% load mptt_tags %}
  <!-- HEADER -->


  <header>
    <div class="bg-overlay">
        <div class="container center-text">
            <span class="header-logo center-text">NoFeeOC</span>
            <br>
            <span class="subheader center-text">Real Estate For Orange County's Smartest Buyers</span>
        </div>
    </div>
  </header>
  <nav class="navbar custom-navbar" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-nav-collapsed"> 
                <span class="sr-only">Toggle navigation</span> <span class="fa fa-compass"></span> 
            </button>
          <!-- <a class="navbar-brand" href="#">Brand</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="header-nav-collapsed">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'landing_page.views.landing' %}">Home</a></li>
            <li><a href="{% url 'contact.views.contact'%}">Contact</a></li>
            {% for c in corp %}
            <li><a href="/company/{{c.PageSlug}}">{{c.PageName}}</a></li>
            {% endfor %}
            <li><a href="{% url 'faqs.views.faq_page' %}">FAQ</a></li>
            {% full_tree_for_model articles.Category.get_root as category %}
            {% for c in category %}
              {% if c.is_root_node %}
                {% if not c.is_leaf_node %}                
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ c.CategoryName }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% drilldown_tree_for_node c as sc %}
                  {% for sub_cat in sc %}
                    <li><a href="{{sub_cat.get_absolute_url}}">{{sub_cat.CategoryName}}</a></li>
                  {% endfor %}
                </ul>
                {% else %}
                  <li><a href="{{c.get_absolute_url}}">{{c.CategoryName}}</a></li>
                {% endif %}
              {%endif%}
            {% endfor %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
</nav>
