{% load mptt_tags %}
  <!-- HEADER -->


  <header>
    <div class="bg-overlay">
        <div class="container center-text">
            <span class="header-logo center-text">NoFeeOC</span>
            <br>
            <span class="subheader center-text">Real Estate For Orange County's Smartest Buyers</span>
        </div>
    </div>
  </header>
  <nav class="navbar custom-navbar" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-nav-collapsed"> 
                <span class="sr-only">Toggle navigation</span> <span class="fa fa-compass"></span> 
            </button>
          <!-- <a class="navbar-brand" href="#">Brand</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="header-nav-collapsed">
          <ul class="nav navbar-nav">
            <li><a href="#">Contact</a></li>
            <li class="active"><a href="#">About</a></li>
            <li><a href="#">Why NoFeeOC</a></li>
            <li><a href="#">FAQ</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tips <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Buying</a></li>
                <li><a href="#">Selling</a></li>
                <li><a href="#">Tips</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
</nav>
