{% extends "base.html" %}
{% load mptt_tags %}

		{% block head %}
		<link rel="canonical" href="{{ request.build_absolute_uri }}"/>
		<title>{{ page.Title }}</title>
		<meta name="description" content="{{ page.Description }}"/>
		<meta name="author" content="{{ page.Author.first_name }} {{ page.Author.last_name }}"/>
		<!-- og images -->
		<meta property="og:title" content="{{ page.Title }}"/>
		{% if page.ArticleMedia.ArticleImageAsUrl %}
		<meta property="og:image" content="{{ page.ArticleMedia.ArticleImageAsUrl }}"/>
		{% elif page.ArticleMedia.ArticleImage %}
		<meta property="og:image" content="/media/{{ page.ArticleMedia.ArticleImage }}"/>
		{% else %}
			{% if socialImage.SocialImageAsUrl %}
			<meta name="twitter:image" content="{{socialImage.SocialImageAsUrl}}">
			{% elif socialImage.SocialImage %}
			<meta name="twitter:image" content="{{socialImage.SocialImage}}">
			{% endif %}	
		{% endif %}
		<meta property="og:description" content="{{ page.Description }}"/>
		<meta property="og:type" content="article"/>
		<!--Twitter Meta Tags-->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
		<meta name="twitter:title" content="{{page.Title}}">
		<meta name="twitter:description" content="{{page.Description}}">
		{% if page.ArticleMedia.ArticleImageAsUrl %}
		<meta property="twitter:image" content="{{ page.ArticleMedia.ArticleImageAsUrl }}"/>
		{% elif page.ArticleMedia.ArticleImage %}
		<meta property="twitter:image" content="/media/{{ page.ArticleMedia.ArticleImage }}"/>
		{% else %}
			{% if socialImage.SocialImageAsUrl %}
			<meta name="twitter:image" content="{{socialImage.SocialImageAsUrl}}">
			{% elif socialImage.SocialImage %}
			<meta name="twitter:image" content="{{socialImage.SocialImage}}">
			{% endif %}	
		{% endif %}

		{% endblock%}
		
		{% block extra_css %}

		{% endblock%}
		
		{% block sub_header %}

		<div class="container">
			<div class="row">
				<div class="article-content-column col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="title-wrapper">
					    <h1>{{page.Title}}</h1>
					    {% if page.Subtitle %}
					        <p>{{page.Subtitle}}</p>
					    {% endif %}
					</div>
					{% if page.ArticleMedia.YouTubeId %}
					<div class="lead-image-wrapper lazyYT" data-youtube-id="{{ page.ArticleMedia.YouTubeId }}" data-width="100%" data-height="500">
					</div>
					{% elif page.ArticleMedia.ArticleImageAsUrl %}
					    <div class="lead-image-wrapper">
					        <img class="lazy" data-src="{{page.ArticleMedia.ArticleImageAsUrl}}" src="" alt="&nbsp;" style=""/>
					    </div>  
					{% elif page.ArticleMedia.ArticleImage %}
					<div class="lead-image-wrapper">
					    <img class="lazy" data-src="/media/{{page.ArticleMedia.ArticleImage}}" src="" alt="&nbsp;" style=""/>
					</div>
					{% endif %}
					<div class="time-author-wrapper">
					    <p>
					        <span class="author">{{page.Author.first_name}} {{page.Author.last_name}}</span> 
					        <span class="pipe-margin">|</span> <span class="date">{{page.PublishTime}}</span><span class="pipe-margin">|</span> {% if page.ArticleMedia.ArticleImageSource %}
					    <span class="author">Photo Credit: <a href="{{page.ArticleMedia.ArticleImageSourceUrl}}" target="_BLANK">{{page.ArticleMedia.ArticleImageSource}}</a></span>
					    {% endif %}
					    </p>
					</div>
					<article class='article-text-wrapper'>
					    {% autoescape off %}
					    {{page.ArticleText}}
					    {% endautoescape %}
					</article>
				
					<section class="social-share">
						<div class="row">
							<a class="btn btn-facebook full-width-button col-lg-6 col-md-6 col-sm-6 col-xs-6" data-network="FB" href="https://www.facebook.com/sharer/sharer.php?app_id=501274963337459&u={{ request.build_absolute_uri|urlencode }}&t={{page.Title|urlencode}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
								<i class="fa fa-facebook"></i> Share on Facebook
							</a>
							<a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}&text={{page.Title|urlencode}}&via=nofeeoc" class="btn btn-twitter full-width-button col-lg-6 col-md-6 col-sm-6 col-xs-6" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"><i class="fa fa-twitter"></i> Share on Twitter</a>
						</div>
					</section>
				</div>
				<div class="sidebar-column col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="sidebar-section-wrapper">
						{% if page.recent %}
						<!-- Recent Articles:  -->
						<h3 class="section-header">{{page.ParentCategory.CategoryName}}</h3>
						<div class="sidebar-article-block">
							{% for r in page.recent %}
								<div class="sidebar-image-article-wrapper col-lg-12 col-md-12 col-sm-6 col-xs-6">
									{% drilldown_tree_for_node r.ParentCategory as sc %}
									<a href="{% for sub_cat in sc %}{% if sub_cat.is_child_node %}{%elif r.ParentCategory.CategorySlug == sub_cat.CategorySlug %}{%else%}
					/{{sub_cat.CategorySlug}}{%endif%}{% endfor %}/{{r.ParentCategory.CategorySlug}}/{{r.Slug}}">
										{% if r.ArticleMedia.ArticleImage %}
										<img class="lazy" data-src="/media/{{r.ArticleMedia.ArticleImage }}" src="" alt="&nbsp;">
										{% elif r.ArticleMedia.ArticleImageAsUrl %}
										<img class="lazy" data-src="{{r.ArticleMedia.ArticleImageAsUrl  }}" src="" alt="&nbsp;">
										{% endif %}
										<h5>{{ r.Title}}</h5>
									</a>
								</div>
							{% endfor %}
						{% endif %}	
						</div>
					</div>
				</div>
				<!-- end sidebar column -->
			</div>
		</div>
		
		{% include "components/_contact_block.html" %}

		
		{% endblock%}
		
		{% block modals %}

		{% endblock%}
		
		{% block extra_js %}
<script type='text/javascript'>
	$(document).ready(function(){
		$('img.lazy').lazy({
			onFinishedAll: function() {
            // after Lazy has loaded all images this function will be called once
            	sameHeight(".sidebar-image-article-wrapper");	
        }
		});

		$('.backstretch').each(function(){
			var bgimg = $(this).data('bgimg');
			$(this).backstretch(bgimg);
		});	

		$('.sidebar-image-article-wrapper ').matchHeight();
	});


	$(document).ready(function(){
	
		$('.lazyYT').lazyYT();
		
		$(window).resize(function(){
			sameHeight(".sidebar-image-article-wrapper");

			if( timer ) {
		        clearTimeout(timer);
		    }
		 
		    var timer = setTimeout( function() {
		    	$('.home-article-image-grid').each(function(){
					var w = $(this).outerWidth();
					$(this).css('height', w+'px');
				});
		    }, 50 );
			
		});

	});

		  </script>
		{% endblock %}
