{% extends "base.html" %}

		{% block head %}
		    <meta name="description" content="{{lead.LandingMetaDescription}}">
		    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
		    <title>{{lead.LeadTitle}}</title>

			<!--Facebook Meta Tags-->
			<meta property=”og:title” content=”{{page.titleTag}}”/>
			<meta property=”og:type” content="article"/>
			{% if banner.BannerImageAsUrl%}
    	        <meta property=”og:image”  content="{{banner.BannerImageAsUrl}}" />
            {% elif banner.BannerImage %}
	            <meta property=”og:image”  content="{{banner.BannerImage}}"/>
	        {% else %}
	       		{% if socialImage.SocialImageAsUrl %}
					<meta name="og:image" content="{{socialImage.SocialImageAsUrl}}">
				{% elif socialImage.SocialImage %}
					<meta name="og:image" content="{{socialImage.SocialImage}}">
				{% endif %}
            {% endif %}
			<meta property=”og:url” content="{{ request.build_absolute_uri }}"/>
			<meta property=”og:description” content="{{lead.LandingMetaDescription}}"/>

			<!--Twitter Meta Tags-->
			<meta name=”twitter:card” content=”summary”>
			<meta name=”twitter:url” content=”{{ request.build_absolute_uri }}”>
			<meta name=”twitter:title” content="{{lead.LeadTitle}}">
			<meta name=”twitter:description” content="{{lead.LandingMetaDescription}}">
			{% if banner.BannerImageAsUrl%}
    	        <meta name="twitter:image"   content="{{banner.BannerImageAsUrl}}" />
            {% elif banner.BannerImage %}
	            <meta name="twitter:image"   content="{{banner.BannerImage}}"/>
	        {% else %}
		        {% if socialImage.SocialImageAsUrl %}
					<meta name="twitter:image" content="{{socialImage.SocialImageAsUrl}}">
				{% elif socialImage.SocialImage %}
					<meta name="twitter:image" content="{{socialImage.SocialImage}}">
				{% endif %}
            {% endif %}
		{% endblock %}

		{% block css %}
			
		{% endblock %}

		{% block sub_header %}
        <div class="container">
        <div class="row">
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	            	{% if banner.BannerImage %}
	                <div class="lead-image backstretch" data-bgimg="/media/{{banner.BannerImage}}">
	                </div>
	                {% elif banner.BannerImageAsUrl%}
	                <div class="lead-image backstretch" data-bgimg="{{banner.BannerImageAsUrl}}">
	                </div>
	                <div class="small-banner-credit-wrapper"><a href="{{banner.BannerImageSourceUrl}}" target="_BLANK">Photo by: {{banner.BannerImageSourceName}}</a></div>
	                {% else %}
	                <div class="lead-image backstretch" data-bgimg="{{banner.BannerImage}}">
	                </div>
	                {% endif %}
	            </div>

	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                <h2 class="section-title"><span>{{lead.LeadTitle}}</span></h2>
	            </div>
	            <!-- lead column -->
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                <p class="intro">
	                    {{lead.LeadContent}}
	                </p>
	            </div>
	            <!-- lead text column -->
	        </div>
	        <!-- /row -->
	    </div>

	    <section id="articles">
	    	{% include "components/_article_blocks_index.html" %}
	    </section>

	    {% include "components/_contact_block.html" %}
		{% endblock %}
		
		
		{% block modals %}

		{% endblock %}
		
		{% block extra_js %}
		<script tyep="text/javascript">
		// $(document).ready(function(){
		// 	sameHeight(".same-height-block");
		// 	$(window).resize(function(){
		// 		sameHeight(".same-height-block");
		// 	});
  //   	});
		$(document).ready(function(){
			$('.same-height-block a').matchHeight();
		});
		
		</script>
		{% endblock %}
