{% extends "base.html" %}

		{% block head %}
			<meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <meta name="description" content="{{page.metaDescription}}">
		    <meta name="author" content="{{page.author}}">
			<meta name="keywords" content="{{page.metaKeywords}}">

		    <title>{{page.titleTag}}</title>

			<!--Facebook Meta Tags-->
			<meta property=”og:title” content=”{{page.titleTag}}”/>
			<meta property=”og:type” content="article"/>
			<meta property=”og:image” content=””/>
			<meta property=”og:url” content=”{{request.path}}”/>
			<meta property=”og:description” content=”{{page.metaDescription}}”/>
			<meta property=”og:website” content=””/>

			<!--Twitter Meta Tags-->
			<meta name=”twitter:card” content=”summary”>
			<meta name=”twitter:url” content=”{{request.path}}”>
			<meta name=”twitter:title” content="{{page.titleTag}}">
			<meta name=”twitter:description” content="{{page.metaDescription}}">
			<meta name=”twitter:image” content=””>
		{% endblock %}

		{% block css %}
			
		{% endblock %}

		{% block sub_header %}
		<div class="main-content-container">
			<div class="container">
				<div class="content-banner">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<div class="static-banner-wrapper">
							<!-- End slideshow content wrapper -->						
							<div class="slideshow-content-wrapper backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg">
								<a href="#">
									<span class="slideshow-text-wrapper">
										<h2>This is a second article</h2>
										<p>Just another quick article summary to ease the pain.</p>
									</span>
								</a>
							</div>
							<!-- End slideshow content wrapper -->
						</div>
						<!-- End Slideshow Wrapper -->
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<ul class="content-banner-list">
							<li>
								<a class="preview-link-wrapper" href="#">
									<h3>This is a test headline</h3>
									<p>This is a test paragraph or summary or whatever you want to call it.</p>
								</a>	
							</li>
							<li>
								<a class="preview-link-wrapper" href="#">
									<h3>This is a test headline</h3>
									<p>This is a test paragraph or summary or whatever you want to call it.</p>
								</a>	
							</li>
							<li>
								<a class="preview-link-wrapper" href="#">
									<h3>This is a test headline</h3>
									<p>This is a test paragraph or summary or whatever you want to call it.</p>
								</a>	
							</li>
							<li>
								<a class="preview-link-wrapper" href="#">
									<h3>This is a test headline</h3>
									<p>This is a test paragraph or summary or whatever you want to call it.</p>
								</a>	
							</li>
							<li>
								<a class="preview-link-wrapper" href="#">
									<h3>This is a test headline</h3>
									<p>This is a test paragraph or summary or whatever you want to call it.</p>
								</a>	
							</li>
							<li>
								<a class="preview-link-wrapper" href="#">
									<h3>This is a test headline</h3>
									<p>This is a test paragraph or summary or whatever you want to call it.</p>
								</a>	
							</li>
							<li>
								<a class="preview-link-wrapper" href="#">
									<h3>This is a test headline</h3>
									<p>This is a test paragraph or summary or whatever you want to call it.</p>
								</a>	
							</li>
							<li class="last-preview">
								<a class="preview-link-wrapper" href="#">
									<h3>This is a test headline</h3>
									<p>This is a test paragraph or summary or whatever you want to call it.</p>
								</a>	
							</li>
						</ul>
					</div>
					<!-- /col-lg-4 col-md-4 col-sm-12 col-xs-12 -->
				</div>
				<!-- /content-banner -->
			</div>
			<!-- /container -->
			<section>
				<div class="container">
					<h2 class="section-header">Article Section</h2>
					<div class="row">
							<div class="article-grid col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#">
								<span class="home-article-image-grid backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg"></span>
								<h3 class="headline-grid">This is a test article</h3>
								</a>
							</div>
							<!-- /article grid -->
							<div class="article-grid col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#">
								<span class="home-article-image-grid backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg"></span>
								<h3 class="headline-grid">This is a test article</h3>
								</a>
							</div>
							<!-- /article grid -->
							<div class="article-grid col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#">
								<span class="home-article-image-grid backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg"></span>
								<h3 class="headline-grid">This is a test article</h3>
								</a>
							</div>
							<!-- /article grid -->
							<div class="article-grid col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#">
								<span class="home-article-image-grid backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg"></span>
								<h3 class="headline-grid">This is a test article</h3>
								</a>
							</div>
							<!-- /article grid -->
					</div>
					<!-- /row	 -->
					<div class="row">
							<div class="article-grid col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#">
								<span class="home-article-image-grid backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg"></span>
								<h3 class="headline-grid">This is a test article</h3>
								</a>
							</div>
							<!-- /article grid -->
							<div class="article-grid col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#">
								<span class="home-article-image-grid backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg"></span>
								<h3 class="headline-grid">This is a test article</h3>
								</a>
							</div>
							<!-- /article grid -->
							<div class="article-grid col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#">
								<span class="home-article-image-grid backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg"></span>
								<h3 class="headline-grid">This is a test article</h3>
								</a>
							</div>
							<!-- /article grid -->
							<div class="article-grid col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#">
								<span class="home-article-image-grid backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg"></span>
								<h3 class="headline-grid">This is a test article</h3>
								</a>
							</div>
							<!-- /article grid -->
					</div>
					<!-- /row	 -->
				</div>
				<!-- /container -->
			</section>
			<section>
				<div class="container">
					<h2 class="section-header">Video Section</h2>
					<div class="row">
							<div class="video-grid col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="featured-video lazyYT" data-youtube-id="cTQvYxELaFI" data-width="100%" data-height="350"></div>
								<h3 class="headline-grid">Video Title</h3>
							</div>
							<!-- /video grid -->
							<div class="video-grid col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="featured-video lazyYT" data-youtube-id="K9XCKP9KN7A" data-width="100%" data-height="350"></div>
								<h3 class="headline-grid">Video Title</h3>
							</div>
							<!-- /video grid -->
					</div>
					<!-- /row	 -->
				</div>
				<!-- /container -->
			</section>
		</div>
			
		{% endblock %}
		
		
		{% block modals %}

		{% endblock %}
		
		{% block extra_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>	
<script>
	$(document).ready(function(){
		$('.backstretch').each(function(){
			var bgimg = $(this).data('bgimg');
			$(this).backstretch(bgimg);
		});
		$('.home-article-image-grid').each(function(){
			var w = $(this).outerWidth();
			$(this).css('height', w+'px');
		});
		// $("#owl").owlCarousel({
 
		//       navigation : false, // Show next and prev buttons
		//       slideSpeed : 300,
		//       paginationSpeed : 400,
		//       stopOnHover: true,
		//       singleItem:true
		 
		//       // "singleItem:true" is a shortcut for:
		//       // items : 1, 
		//       // itemsDesktop : false,
		//       // itemsDesktopSmall : false,
		//       // itemsTablet: false,
		//       // itemsMobile : false
		 
		//   });		
		$('.lazyYT').lazyYT();


		$(window).resize(function(){

			if( timer ) {
		        clearTimeout(timer);
		    }
		 
		    var timer = setTimeout( function() {
		    	$('.home-article-image-grid').each(function(){
					var w = $(this).outerWidth();
					$(this).css('height', w+'px');
				});
		    }, 100 );
			
		});
	});
</script>
		{% endblock %}
