{% extends "base.html" %}
{% load mptt_tags %}
		{% block head %}
			<link rel="canonical" href="{{ request.build_absolute_uri }}"/>
		    <meta name="description" content="{{category.MetaCategoryDescription}}">
		    <title>{{category.MetaCategoryPageTitle}}</title>
			<!--Facebook Meta Tags-->
			<meta property=”og:title” content="{{category.MetaCategoryPageTitle}}"/>
			<meta property=”og:type” content="article"/>
			{% if socialImage.SocialImageAsUrl %}
			<meta name="og:image" content="{{socialImage.SocialImageAsUrl}}">
			{% elif socialImage.SocialImage %}
			<meta name="og:image" content="{{socialImage.SocialImage}}">
			{% endif %}
			<meta property=”og:description” content="{{category.MetaCategoryDescription}}"/>
			<meta property=”og:url” content="{{request.build_absolute_uri}}"/>
			<meta property=”og:website” content="article"/>

			<!--Twitter Meta Tags-->
			<meta name=”twitter:card” content="summary">
			<meta name=”twitter:url” content="{{request.build_absolute_uri}}">
			<meta name=”twitter:title” content="{{category.MetaCategoryPageTitle}}">
			<meta name=”twitter:description” content="{{category.MetaCategoryDescription}}">
			{% if socialImage.SocialImageAsUrl %}
			<meta name="twitter:image" content="{{socialImage.SocialImageAsUrl}}">
			{% elif socialImage.SocialImage %}
			<meta name="twitter:image" content="{{socialImage.SocialImage}}">
			{% endif %}

		{% endblock %}

		{% block css %}
			
		{% endblock %}

		{% block sub_header %}
		<div class="main-content-container article-list">
			<section>
				<div class="container">
					<h1>{{ category.CategoryName }}</h1>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					{% for a in articles.section %}	
							<div class="list-article">
							  <a href="{{a.ParentCategory.get_absolute_url}}{{a.Slug}}">
								<div class="list-image-container">
									{% if a.ArticleMedia.ArticleImage %}
					                    <span class="list-article-image-grid backstretch" data-bgimg="/media/{{a.ArticleMedia.ArticleImage}}">
										</span>
				                    {% elif a.ArticleMedia.ArticleImageAsUrl %}
					                    <span class="list-article-image-grid backstretch" data-bgimg="{{a.ArticleMedia.ArticleImageAsUrl}}">
										</span>
				                    {% endif %}
								</div>
								<div class="list-text-container">
									<h3 class="list-headline-grid">{{a.Title}}</h3>
									<p class="list-preview-text">
										{% autoescape off %}
				                            {{a.ArticleText|striptags|truncatewords:20}}
				                        {% endautoescape %}
									</p>
								</div>
								</a>
							</div>
							<!-- /article grid -->
					{% endfor %}
				</div>
				<!-- col 8 -->
				<div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
					<div class="related-categories-wrapper">
						<h3>Related Categories</h3>
						{% for sc in subcat %}
						<a href="{{sc.get_absolute_url}}">{{sc.CategoryName}}</a>
						{% endfor %}
					</div>
				</div>
				</div>
				<!-- /container -->
			</section>
		</div>
		{% include "components/_contact_block.html" %}
			
		{% endblock %}
		
		
		{% block modals %}

		{% endblock %}
		
		{% block extra_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>	
<script>
	$(document).ready(function(){
		$('img.lazy').lazy({
			onFinishedAll: function() {
            // after Lazy has loaded all images this function will be called once
            	sameHeight(".sidebar-image-article-wrapper");	
        }
		});

		$('.backstretch').each(function(){
			var bgimg = $(this).data('bgimg');
			$(this).backstretch(bgimg);
		});	

		$(window).resize(function(){

			if( timer ) {
		        clearTimeout(timer);
		    }
		 
		    var timer = setTimeout( function() {
		    	$('.list-article-image-grid').each(function(){
					var w = $(this).outerWidth();
					$(this).css('height', w+'px');
				});
		    }, 100 );
			
		});
	});
</script>
		{% endblock %}
