{% extends "base.html" %}
		{% block head %}

		{% endblock%}
		
		{% block extra_css %}

		{% endblock%}
		
		{% block sub_header %}

		<div class="container">
			<div class="row">
				<div class="article-content-column col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<div class="title-wrapper">
						<h1>This is a test title and it is a little bit long</h1>
						<p>This is a subtitle so that you can see how it might look to have a subtitle</p>
					</div>
					<div class="lead-image-wrapper lazyYT" data-youtube-id="IcWJ79yUy3U" data-width="100%" data-height="500">
						
					</div>
					<div class="time-author-wrapper">
						<p><a href="#" class="author">Ryan Hurst</a> <span class="pipe-margin">|</span> <a href="#" class="personal-social social-twitter"><i class="fa fa-twitter"></i></a> <a href="#" class="personal-social social-facebook"><i class="fa fa-facebook"></i></a> <a href="#" class="personal-social social-instagram"><i class="fa fa-instagram"></i></a> <span class="pipe-margin">|</span> <span class="date">Dec 12, 2014</span></p>
					</div>
					<article class='article-text-wrapper'>
						<p>When the cheese comes out everybody's happy chalk and cheese fromage frais. Cheese and wine danish fontina edam the big cheese cheese triangles fondue macaroni cheese blue castello. Bavarian bergkase fromage swiss jarlsberg roquefort port-salut croque monsieur macaroni cheese. Emmental the big cheese red leicester babybel halloumi lancashire port-salut cheese slices. Parmesan babybel edam pecorino airedale melted cheese cheese slices st. agur blue cheese. Boursin say cheese rubber cheese.</p>

						<p>Babybel rubber cheese red leicester. Who moved my cheese cheese and biscuits pepper jack fondue red leicester pecorino halloumi st. agur blue cheese. Pepper jack say cheese brie cheese and wine roquefort cheese and biscuits rubber cheese fondue. Jarlsberg bocconcini cheese and biscuits cheese triangles cheesecake danish fontina when the cheese comes out everybody's happy pepper jack. Camembert de normandie cauliflower cheese dolcelatte cream cheese cottage cheese brie pecorino fromage. Everyone loves cheeseburger cheese and wine cheese triangles cauliflower cheese roquefort dolcelatte cheddar. Lancashire swiss cheese strings cheese and biscuits paneer hard cheese jarlsberg macaroni cheese. Mozzarella pecorino.</p>

						<p>Chalk and cheese caerphilly halloumi. Swiss airedale red leicester cut the cheese mozzarella caerphilly boursin stinking bishop. Cheese on toast when the cheese comes out everybody's happy smelly cheese chalk and cheese caerphilly cheese and wine cheese strings cottage cheese. Feta cottage cheese babybel cow edam who moved my cheese cheesecake cheesy grin. St. agur blue cheese monterey jack goat melted cheese ricotta bocconcini mozzarella smelly cheese. Queso airedale croque monsieur cheesecake dolcelatte squirty cheese fromage st. agur blue cheese. Ricotta jarlsberg cheddar cauliflower cheese halloumi mascarpone say cheese lancashire. Swiss melted cheese.</p>

						<p>Cheese triangles smelly cheese queso. Macaroni cheese jarlsberg brie cheese and wine cheese on toast brie ricotta cheesy grin. St. agur blue cheese swiss monterey jack blue castello brie cheese on toast fromage frais red leicester. Port-salut cheddar camembert de normandie fromage frais pecorino mozzarella red leicester cheese and wine. Smelly cheese mozzarella lancashire chalk and cheese swiss st. agur blue cheese smelly cheese emmental. Mascarpone goat cauliflower cheese swiss cheese strings hard cheese lancashire cheese and biscuits. Mascarpone say cheese croque monsieur cream cheese cheese strings pecorino feta rubber cheese. Macaroni cheese cheese slices brie.</p>

						<p>Paneer cheddar queso. Mozzarella red leicester everyone loves halloumi mascarpone mozzarella brie red leicester. Cheese and biscuits queso gouda dolcelatte port-salut cheesy grin squirty cheese the big cheese. Edam monterey jack camembert de normandie danish fontina red leicester bavarian bergkase caerphilly cream cheese. Lancashire cheddar airedale cheese and wine hard cheese melted cheese boursin queso. Cheese strings pecorino cheesecake fromage bocconcini fondue cut the cheese cheesecake. Parmesan brie the big cheese.</p>
					</article>
					<section class="social-share">
						<div class="row">
							<button class="btn btn-facebook full-width-button col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-facebook"></i> Share on Facebook</button>
							<button class="btn btn-twitter full-width-button  col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-twitter"></i> Share on Twitter</button>
						</div>
					</section>
					<div class="product-links">
						<h4 class="product-header">Recommended</h4>
						<div class="product-container col-lg-3 col-md-3 col-sm-3 col-xs-6">
							<a href="">
								<span class="product-image backstretch" data-bgimg="http://ecx.images-amazon.com/images/I/81wXtyWbqWL._SL1500_.jpg">
								</span>
								<p class="product-name">This is a product</p>
							</a>
						</div>
						<!-- End Product Container -->
						<div class="product-container col-lg-3 col-md-3 col-sm-3 col-xs-6">
							<a href="">
								<span class="product-image backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg">
								</span>
								<p class="product-name">This is a product</p>
							</a>
						</div>
						<!-- End Product Container -->
						<div class="product-container col-lg-3 col-md-3 col-sm-3 col-xs-6">
							<a href="">
								<span class="product-image backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg">
								</span>
								<p class="product-name">This is a product</p>
							</a>
						</div>
						<!-- End Product Container -->
						<div class="product-container col-lg-3 col-md-3 col-sm-3 col-xs-6">
							<a href="">
								<span class="product-image backstretch" data-bgimg="http://img.wallbeam.com/53processed/little%20cat%20hd%20wallpapers.jpg">
								</span>
								<p class="product-name">This is a product</p>
							</a>
						</div>
						<!-- End Product Container -->
					</div>
					<!-- End Product Links -->
				</div>
				<div class="sidebar-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="sidebar-advertisement-wrapper">
						<h6 class="sidebar-section-header">Advertisement</h6>
						<a class="ad-link" href="#" > <img class="lazy" data-src="http://www.webdesignbooth.com/wp-content/uploads/2009/07/fedex-advertisement.jpg" src="" alt="Advertisement Text">
						</a>
					</div>
					<!-- end advertisement wrapper -->
					<div class="sidebar-section-wrapper">
						<h3 class="sidebar-section-header">Article Header</h3>
						<ul class="sidebar-article-list">
							<li>
								<a href="#">
									<img class="lazy" data-src="https://farm8.staticflickr.com/7083/7163415146_97264f76b2_b.jpg" src="" alt="&nbsp;">
									<h5>This is a link</h5>
								</a>
							</li>
							<li>
								<a href="#">
									<img class="lazy" data-src="https://farm8.staticflickr.com/7083/7163415146_97264f76b2_b.jpg" src="" alt="&nbsp;">
									<h5>This is a link</h5>
								</a>
							</li>
							<li>
								<a href="#">
									<img class="lazy" data-src="https://farm8.staticflickr.com/7083/7163415146_97264f76b2_b.jpg" src="" alt="&nbsp;">
									<h5>This is a link</h5>
								</a>
							</li>
						</ul>
					</div>
					<!-- end sidebar section wrapper -->
					<div class="sidebar-section-wrapper">
						<h3 class="sidebar-section-header">Link Header</h3>
						<ul class="sidebar-link-list">
							<li><a href="#">Mozzarella red leicester everyone loves halloumi mascarpone mozzarella brie red leicester.</a></li>
							<li><a href="#">This is a link</a></li>
							<li><a href="#">Mozzarella red leicester everyone loves halloumi mascarpone mozzarella brie red leicester.</a></li>
							<li><a href="#">This is a link</a></li>
							<li><a href="#">This is a link</a></li>
							<li><a href="#">This is a link</a></li>
						</ul>
					</div>
					<!-- end sidebar section wrapper -->
				</div>
				<!-- end sidebar column -->
			</div>
		</div>

		
		{% endblock%}
		
		{% block modals %}

		{% endblock%}
		
		{% block extra_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>			
		<script type='text/javascript'>
			$(document).ready(function(){
				$('img.lazy').lazy();

				$('.backstretch').each(function(){
					var bgimg = $(this).data('bgimg');
					$(this).backstretch(bgimg);
				});

				$('.product-image').each(function(){
					var w = $(this).outerWidth();
					$(this).css('height', w+'px');
				});

				$(window).resize(function(){
					$('.product-image').each(function(){
						var w = $(this).outerWidth();
						$(this).css('height', w+'px');
					});
				});
			});

			$(document).ready(function(){
		
		

		
		$('.lazyYT').lazyYT();

		$(window).resize(function(){

			if( timer ) {
		        clearTimeout(timer);
		    }
		 
		    var timer = setTimeout( function() {
		    	$('.home-article-image-grid').each(function(){
					var w = $(this).outerWidth();
					$(this).css('height', w+'px');
				});
		    }, 100 );
			
		});
	});
		  </script>
		{% endblock %}
